<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->

  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content pt-4">
    <div class="container-fluid">
      <div class="card">
        <h4 class="card-header">Empresas</h4>
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->